<div class="row text-center my-4">
  <h1>Lista de Vehiculos</h1>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-10 text-end">
      <button class="btn btn-primary" (click)="onAddUser()">
        Agregar Vehiculo
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">Color</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              @for (vehiculo of vehiculo$ | async; let i = $index; track vehiculo.id) {
              <tr>
                <th scope="row">{{ vehiculo.id }}</th>
                <td>{{ vehiculo.marca | titlecase }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.color }}</td>
                <td>{{ vehiculo.precio }}</td>
                <td class="d-flex gap-2">
                  <button class="btn btn-warning btn-sm" (click)="onEditVehiculo(vehiculo.id)"
                    [disabled]="isDeleting() === vehiculo.id">
                    Editar
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="onDeleteVehiculo(vehiculo.id)"
                    [disabled]="isDeleting() === vehiculo.id">
                    {{ isDeleting() === vehiculo.id ? 'Eliminando...' : 'Eliminar' }}
                  </button>
                </td>
              </tr>
              } @empty {
              <tr>
                <td colspan="6" class="text-center">No hay vehiculos registrados</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>