<div class="row text-center my-4">
  <h1>Crear Vehiculo</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          
          <form [formGroup]="vehiculoForm" (ngSubmit)="onSubmit()"> 
            <div class="mb-3">
              <label for="marca" class="form-label">Marca</label>
              <input type="text" id="marca" class="form-control" formControlName="marca" required>
            </div>
            <div class="mb-3">
              <label for="modelo" class="form-label">Modelo</label>
              <input type="text" id="modelo" class="form-control" formControlName="modelo" required>
            </div>
            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input type="text" id="color" class="form-control" formControlName="color" required>
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" id="precio" class="form-control" formControlName="precio" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crear Vehiculo</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>